# Python
*.pyc
__pycache__/
venv/
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# Logs
*.log

# Environment
.env

# Compiled files
*.pyc
*.pyo
*.pyd

# Miscellaneous
.DS_Store

# secrets

secrets/secrets.conf
config/bot.conf
